$gray: #EFEFEF;
$blue: #445BB5;
$yellow: #FFED00;

*{
  font-family: 'Arial', sans-serif;
}

.faq{
  background: $gray ;
  padding: 20px;

  input{
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  h3{
    color: $blue;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}

.outer-faq{
  border: 1px solid darken($gray, 10%);
  margin: 15px 0;
  padding: 20px;
  box-sizing: border-box;
  // background: #fff;

  em{
    background: rgba($yellow, 0.6);
    padding: 0 2px;
  }
}

.outer-faq--error{
  @extend .outer-faq;

  input{
    margin: 0;
    margin-top: 20px;
  }
}

.outer-faq__p{
  font-weight: 600;
  color: $blue;
  margin-bottom: 10px;
}

.outer-faq__p--error{
  @extend .outer-faq__p;
  color: red;
}

.outer-faq__r{
  font-size: 0.9em;
}

.outer-faq__r--error{
  @extend .outer-faq__r;
}
