<h1 id="faq-filter">faq-filter</h1>
<p>faq filter component w/ react</p>
<h6 id="to-do">To do</h6>
<ul>
<li>Requisição Ajax sem usar Jquery;</li>
<li>Dar highlight no termo pesquisado;</li>
<li>Criar componente separado pra renderizar as perguntas;</li>
<li>Deixar sugestão de pergunta funcional;</li>
<li>Agradecimento/Feedback da sugestão;</li>
</ul>
